--index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
--extra-index-url https://pypi.org/simple
pymupdf>=1.23.0
pdfminer.six==20221105
camelot-py==0.10.1
opencv-python-headless==4.11.0.86
python-docx>=1.1.2
pandas>=2.2.3
langchain-core>=0.3.15
langchain-community>=0.3.1
langchain-openai>=0.0.1
tiktoken>=0.5.0
faiss-cpu>=1.7.0
python-dotenv>=1.0.0
requests>=2.31.0
sentence-transformers>=2.2.0
openpyxl==3.1.5